:root{
  --brown : #453823;
  --white : #ccbfaa;
  --nav :  #BAA378;
  
}
body{
  max-width: 100%;
  height: 100%;
  width: 100%;
  position: static;
  background-image:url("https://wallpaperaccess.com/full/552581.jpg");
  margin: 0;
  padding: 20px 0 0 0;
  color: var(--brown);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Zilla Slab Highlight', cursive;
}
main{
  margin: 0 0 0 10%;
  color: var(--white);
}
.mainindex{
  height: 2500px;
  margin: 0 0 0 10%;

  color: var(--white);
}
#img1{
  
  width: 50px;
  height: auto;
  margin: 5px 0 0px 20px;
  display: inline;
}
nav{
  background-color: var(--nav);
  padding: 0 0 7px 0;
  position: sticky;
}
#ul1{
  display: inline;
}
a{
  text-decoration: none;
  color: var(--brown);
}

.li1{
  display: inline;
  margin: 0 5px 5px 5px;
  padding: 2px;

}
header{
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1;
}
a:hover{
  color: bisque;
}
footer{
  background-color: var(--nav);
  padding: 0 0 7px 0;
  width: 100%;
  padding: 7px;
 
  right: 0px;
  bottom: 0px;
}
footer a{
  size: 2000%;
  margin: 7px 20px 5px 0 ;
}
#divh3{
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 15% 0 15%;
}
table , td{
  margin-top: 10%;
  margin-bottom: 23%;
  border: 1px solid var(--nav); 
  text-align: center;
}
#aclick{
  position: relative;
  display: inline;
  padding: 25px 30px;
  margin: 40px 0;
  font-size: 24px;
  text-transform: uppercase;

}
#aclick:hover{
  border: 1px solid var(--nav);
}
.underline:hover{
  border-bottom: 2px solid#3f3a30;

}
#photos{
  margin: 40px;
}
#photos img{
  border: 20px solid#72654e;
  margin: 40px;

}
#footerindex{
  width: 100%;
}
#divmap{
  float: left;
  margin-left: 200px;
}
#hour{
  position: relative;
  margin-top: 184px;
}

